/* JUMBOTRON SIZE */
@media (min-width: 425.02px) {
    .bgBackground {
        height: 700px; 
    }
}
@media (max-width: 425px) {
    .bgBackground {
        height: 500px;
    }
}



/* ABOUT BG */
@media (min-width: 425.02px) {
    .aboutBg {
        height: 500px;
    }
}

@media (max-width: 425px) {
    .aboutBg {
        height: calc(100vw - 120px);
    }
}

/*********** CUSTOM BACKGROUNDS ***********/

/* DONATE BG */
@media (min-width: 1200px) {
    .donateBg::before {
        background-position: left;
        margin-left: 5%;
        background-repeat: no-repeat;
        background-size: 75%;
    }
}

/* SERVICES BG */
@media (min-width: 425.02px) {
    .servicesBg {
        height: 450px !important;
    }
}
@media (max-width: 425px) {
    .servicesBg {
        height: 325px !important;
    }
}